<h1>Admin Side CSV Parser</h1>
<div class="csv-file-chooser-section">

  <input type="file" #fileImportInput name="File Upload" id="csvFileUpload" (change)="fileChangeListener($event)"
    accept=".csv" />

  <label>
    Parse Headers?
  </label>
  <select aria-placeholder="Parse headers?" [(ngModel)]="header">
    <option [value]="true">Yes</option>
    <option [value]="false">No</option>
  </select>
</div>

<div class="csv-result-table">

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Product Name</th>
        <th>Category</th>
        <th>Product Description</th>
        <th>Product Quantity</th>
        <th>Price</th>
        <th>Brand</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let csvData of csvRecords;let i = index;">

        <td>{{i+1}}</td>
        <td>
          <span>{{csvData.productName}}</span>
        </td>
        <td>
          <span>{{csvData.category}}</span>
        </td>
        <td>
          <span>{{csvData.productDescription}}</span>
        </td>
        <td>
          <span>{{csvData.productQuantity}}</span>
        </td>
        <td>
          <span>{{csvData.price}}</span>
        </td>
        <td>
          <span>{{csvData.brand}}</span>
        </td>

      </tr>
    </tbody>
  </table>

</div>